<!DOCTYPE html>
<html>
  <head>
    <title>Act Service App</title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../public/stylesheets/mdb.css">
    <link rel="stylesheet" href="../public/stylesheets/styles.css">
  </head>
  <body>

  <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="#">ACT Service App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/raise">Raise a Complaint</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/complaints">Complaints</a>
              </li>
          </ul>

      </div>
  </nav>


  <section class="p-3">
      <h1 class="text-danger">Act Services App</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi aspernatur aut consequatur corporis error eum excepturi explicabo facere facilis hic id iure laudantium, maiores non nostrum omnis quod sunt tempora tenetur ullam voluptate voluptatem voluptates. Aliquid consectetur, corporis iure modi porro quis ratione velit veritatis voluptate! Consectetur consequuntur cupiditate earum, eligendi expedita in necessitatibus, odio perferendis quas qui, quia quo similique sint? A aliquam, aspernatur at aut blanditiis cupiditate delectus dolore doloribus eius id incidunt inventore iste libero maiores modi nisi non odio officiis pariatur perspiciatis possimus quae quas quo reiciendis repellendus reprehenderit ullam. Enim labore neque repellat voluptatibus.</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi aspernatur aut consequatur corporis error eum excepturi explicabo facere facilis hic id iure laudantium, maiores non nostrum omnis quod sunt tempora tenetur ullam voluptate voluptatem voluptates. Aliquid consectetur, corporis iure modi porro quis ratione velit veritatis voluptate! Consectetur consequuntur cupiditate earum, eligendi expedita in necessitatibus, odio perferendis quas qui, quia quo similique sint? A aliquam, aspernatur at aut blanditiis cupiditate delectus dolore doloribus eius id incidunt inventore iste libero maiores modi nisi non odio officiis pariatur perspiciatis possimus quae quas quo reiciendis repellendus reprehenderit ullam. Enim labore neque repellat voluptatibus.</p>
  </section>

  <script src="../public/javascripts/jquery-3.2.1.min.js"></script>
    <script src="../public/javascripts/popper.min.js"></script>
    <script src="../public/javascripts/bootstrap.js"></script>
    <script src="../public/javascripts/mdb.js"></script>
  </body>
</html>
