<!DOCTYPE html>
<html>
  <head>
    <title>Act Service App</title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../public/stylesheets/mdb.css">
    <link rel="stylesheet" href="../public/stylesheets/styles.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>

  <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="#">ACT Service App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/raise">Raise a Complaint</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/complaints">Complaints</a>
              </li>
          </ul>

      </div>
  </nav>

    <!-- Complaints Success Page -->
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-success alert-dismissible animated slideInLeft">
                    <button class="close" data-dismiss="alert">
                        <i class="fa fa-times"></i>
                    </button>
                    <h1>ThankYou!! <%= complaint.username %></h1>
                    <h3>for Your Request : <%= complaint.issue %></h3>
                    <p>Our Service person will get back to you with your email id : <%= complaint.email %></p>
                </div>
            </div>
        </div>
    </div>
  
  <script src="../public/javascripts/jquery-3.2.1.min.js"></script>
    <script src="../public/javascripts/popper.min.js"></script>
    <script src="../public/javascripts/bootstrap.js"></script>
    <script src="../public/javascripts/mdb.js"></script>
  </body>
</html>
